body {
    font-family: sans-serif;
}

h4 {
    font-size: 22px;
}

blockquote {
    font-family: Helvetica;
    font-style: italic;
}

h4.green-color {
    color: green;
}

.green-color {
    color: green;
}

.background-blue {
    background-color: aliceblue;
}

.large-font {
    font-size: 24px;
}

#fav-review-id {
    font-size: 32px;
    color: saddlebrown;
}