body {
    font-family: Geneva, Georgia, sans-serif;
    font-size: 16px;
}

.large-headers {
    font-size: 180%;
}

.small-headers {
    font-size: 1.2em;
    font-style: oblique;
    font-weight: bold;
}

.quote-highlight {
    color: #de1515;
}

.random-color {
    color: coral;
}

