body {
    font-family: Georgia, sans-serif;
    font-size: 18px;
}

p {
    padding: 24px;
    margin: 36px;
    background-color: aquamarine;
    border-color: #de1515;
    border-width: 3px;
    border-style: solid;
    border-radius: 32px;
}